.wrapper {
    height: auto;
    padding-bottom: 200px;
    z-index: 100;
    position: relative;
}

.title {
    width: 650px;
    text-align: center;
    margin: 0 auto;
}

.content {
    display: flex;
    justify-content: space-between;
    margin-top: 56px;
}


@media(max-width: 1050px ) {
    .content {
      flex-wrap: wrap;
    }    
}