.wrapper {
    height: 700px;
    background-image: url('../../../public/facePart.png');
    background-size: 1920px;
    background-position: top;
    background-repeat: no-repeat;
}

.container {
    padding-top: 165px;
}

.blur {
    background: var(--background-three);
    backdrop-filter: blur(1px); 
    height: 40px;
    width: 100%;
    z-index: 200;
}