.wrapper {
    height: 700px;
    background: 
        url('../../../public/facePart.png'), 
        var(--color-blue-dark);
    background-size: 1920px;
    background-position: top;
    background-repeat: no-repeat;
    overflow: hidden;
}

.container {
    padding-top: 165px;
}

.blur {
    background: var(--background-three);
    backdrop-filter: blur(1px); 
    height: 40px;
    width: 100%;
    z-index: 200;
}