.container {
    margin-right: 193px;
}

.text {
    margin-top: 33px;
    line-height: 19px;
    color: var(--color-white);
    font-family: var(--font-Inter);
}

@media(max-width: 900px) {
    .container {
        margin-right: 70px;
    }
}