.card {
   background: url('../../../../../public/border.svg');
   background-size: 100%;
   background-repeat: no-repeat;
   background-position: center;
   width: 181px;
   height: 230px;
   margin: 0 12.5px;
   z-index: 100;
}

.card:first-child {
    margin-left: 0;
}

.card:last-child {
    margin-right: 0;
}

.card img {
    margin-top: 24px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    font-family: var(--font-ClashDisplay);
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    color: var(--color-white);
    text-align: center;
    margin-top: 16px;
}