@import url('https://fonts.cdnfonts.com/css/clash-display');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


:root {

  /* Colors */
  --color-white: #ffffff;
  --color-red: #FD4646;
  --color-gray: #636363;
  --color-primary80: #3B48D0;
  --color-primary100: #0A1482;
  --color-blue: #A2CBFB;
  --color-blue-dark: #0C102D;
  
  
  /* Background */
  --background-one: linear-gradient(180deg, #1FF2FF 0%, #27F9E5 52.66%, #2FFFCD 100%);
  --background-two: linear-gradient(152.14deg, rgba(21, 191, 253, 0.7) 9.96%, rgba(156, 55, 253, 0.7) 100%);
  --background-three: linear-gradient(180deg, rgba(12, 16, 45, 0) -4.71%, #0C102D 97.38%); 


  /* Fonts */
  --font-ClashDisplay: 'Clash Display', sans-serif;
  --font-Inter: 'Inter', sans-serif;

  
  /* Width */
  --width-container: 1200px;
}
